[submodule "External/DotNetBuildTools"]
	path = External/DotNetBuildTools
	url = https://github.com/DarkCaster/DotNetBuildTools.git
[submodule "External/msgpack"]
	path = External/msgpack
	url = https://github.com/msgpack/msgpack-cli.git
