[submodule "External/DotNetBuildTools"]
	path = External/DotNetBuildTools
	url = https://github.com/DarkCaster/DotNetBuildTools.git
[submodule "External/msgpack"]
	path = External/msgpack
	url = https://github.com/msgpack/msgpack-cli.git
[submodule "External/nunit"]
	path = External/nunit
	url = https://github.com/nunit/nunit.git
[submodule "External/json.net"]
	path = External/json.net
	url = https://github.com/JamesNK/Newtonsoft.Json.git
[submodule "External/YamlDotNet"]
	path = External/YamlDotNet
	url = https://github.com/aaubry/YamlDotNet.git
